.sp-preview-wrapper {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 1em;
}

.sp-preview-bg {
    position: relative;
    padding-top: 52.5%;
    background-color: rgb(240,240,240);
    overflow: hidden;
}

.sp-preview-wrapper a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.sp-preview-wrapper a img {
    display: block;
    max-width: 100%;
    transition: opacity 250ms;
}

.sp-preview-wrapper p {
    display: none;
}

.sp-preview-wrapper a[href="#"] {
    display: none;
}

.sp-preview-wrapper a[href="#"] + p {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -0.5em;
    text-align: center;
    color: rgb(150,150,150);
}





.sp-share-debugger h2 {
    padding-top: 24px;
    border-top: 1px solid rgba(51,64,77,0.1);
}

.sp-share-debugger ul ul {
    margin-top: 0 !important;
}

.sp-share-debugger ul ul li {
    list-style-type: circle !important;
}


.sp-template-selector {
    position: relative;
    margin-top: 1em;
}

.sp-template-selector ul {
    overflow: hidden;
    margin: 0 -0.5em;
}

.sp-template-selector ul li {
    display: block;
    width: 33%;
    float: left;
    padding: 0 0.5em;
    box-sizing: border-box;
}

.sp-template-selector .image-wrapper {
    position: relative;
    padding-top: 52.5%;
    background-color: rgb(240,240,240);
    overflow: hidden;
    display: block;
}

.sp-template-selector .image-wrapper img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.sp-template-selector .name {
    display: block;
    text-align: center;
    margin-top: 1em;
}

.sp-template-selector label {
    display: block;
    padding: 0.5em;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
}

.sp-template-selector label:hover {
    border-color: rgba(96, 125, 159, 0.8);
}

.sp-template-selector input {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

.sp-template-selector input#fields-preview-template-1:checked ~ ul label[for="fields-preview-template-1"],
.sp-template-selector input#fields-preview-template-2:checked ~ ul label[for="fields-preview-template-2"],
.sp-template-selector input#fields-preview-template-3:checked ~ ul label[for="fields-preview-template-3"] {
    background-color: #cdd8e4;
    border-color: transparent;
}
