@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 87.5%;
}

.alps-tabs {
  @apply relative;

  > ul {
    @apply overflow-hidden relative mb-4;

    &::before {
      content: ' ';
      @apply absolute block left-0 right-0 bottom-0 h-px bg-gray-200;
    }

    li {
      @apply block float-left;

      label {
        @apply relative block px-4 py-4 text-gray-500 cursor-pointer;

        &::before {
          content: ' ';
          @apply absolute hidden left-0 right-0 bottom-0 h-0.5 bg-indigo-500;
        }
      }
    }
  }

  > div[data-tab] {
    @apply hidden;
  }

  > input {
    @apply absolute left-0 top-0 invisible;
  }

  > input[value="0"]:checked ~ ul label[data-tab="0"],
  > input[value="1"]:checked ~ ul label[data-tab="1"],
  > input[value="2"]:checked ~ ul label[data-tab="2"],
  > input[value="3"]:checked ~ ul label[data-tab="3"],
  > input[value="4"]:checked ~ ul label[data-tab="4"],
  > input[value="5"]:checked ~ ul label[data-tab="5"],
  > input[value="6"]:checked ~ ul label[data-tab="6"],
  > input[value="7"]:checked ~ ul label[data-tab="7"],
  > input[value="8"]:checked ~ ul label[data-tab="8"],
  > input[value="9"]:checked ~ ul label[data-tab="9"] {
    @apply text-indigo-500 font-bold;
  }

  > input[value="0"]:checked ~ ul label[data-tab="0"]::before,
  > input[value="1"]:checked ~ ul label[data-tab="1"]::before,
  > input[value="2"]:checked ~ ul label[data-tab="2"]::before,
  > input[value="3"]:checked ~ ul label[data-tab="3"]::before,
  > input[value="4"]:checked ~ ul label[data-tab="4"]::before,
  > input[value="5"]:checked ~ ul label[data-tab="5"]::before,
  > input[value="6"]:checked ~ ul label[data-tab="6"]::before,
  > input[value="7"]:checked ~ ul label[data-tab="7"]::before,
  > input[value="8"]:checked ~ ul label[data-tab="8"]::before,
  > input[value="9"]:checked ~ ul label[data-tab="9"]::before {
    @apply block;
  }

  > input[value="0"]:checked ~ div[data-tab="0"],
  > input[value="1"]:checked ~ div[data-tab="1"],
  > input[value="2"]:checked ~ div[data-tab="2"],
  > input[value="3"]:checked ~ div[data-tab="3"],
  > input[value="4"]:checked ~ div[data-tab="4"],
  > input[value="5"]:checked ~ div[data-tab="5"],
  > input[value="6"]:checked ~ div[data-tab="6"],
  > input[value="7"]:checked ~ div[data-tab="7"],
  > input[value="8"]:checked ~ div[data-tab="8"],
  > input[value="9"]:checked ~ div[data-tab="9"] {
    @apply block;
  }
}


.sp-template-editor {
  .tabs > div {
    @apply mt-6
  }

  .preview-pane {
    .updating-message {
      div:first-child {
        display: none;
      }
    }

    &.loading {
      #preview-image {
        opacity: 0.5;
      }

      .updating-message {
        div:first-child {
          display: block;

          + div {
            display: none;
          }
        }
      }
    }
  }

  .fields-pane {
    &.loading {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.sp-markdown {
  ul {
    @apply ml-6 space-y-1 list-disc;
  }

  code {
    @apply p-1 bg-gray-200 text-xs text-amber-700 rounded-sm !important;
  }
}




.sp-template-select input {
  &:nth-of-type(1):checked ~ ul li:nth-of-type(1) label,
  &:nth-of-type(2):checked ~ ul li:nth-of-type(2) label,
  &:nth-of-type(3):checked ~ ul li:nth-of-type(3) label,
  &:nth-of-type(4):checked ~ ul li:nth-of-type(4) label,
  &:nth-of-type(5):checked ~ ul li:nth-of-type(5) label,
  &:nth-of-type(6):checked ~ ul li:nth-of-type(6) label,
  &:nth-of-type(7):checked ~ ul li:nth-of-type(7) label,
  &:nth-of-type(8):checked ~ ul li:nth-of-type(8) label,
  &:nth-of-type(9):checked ~ ul li:nth-of-type(9) label,
  &:nth-of-type(10):checked ~ ul li:nth-of-type(10) label,
  &:nth-of-type(11):checked ~ ul li:nth-of-type(11) label,
  &:nth-of-type(12):checked ~ ul li:nth-of-type(12) label,
  &:nth-of-type(13):checked ~ ul li:nth-of-type(13) label,
  &:nth-of-type(14):checked ~ ul li:nth-of-type(14) label,
  &:nth-of-type(15):checked ~ ul li:nth-of-type(15) label,
  &:nth-of-type(16):checked ~ ul li:nth-of-type(16) label,
  &:nth-of-type(17):checked ~ ul li:nth-of-type(17) label,
  &:nth-of-type(18):checked ~ ul li:nth-of-type(18) label,
  &:nth-of-type(19):checked ~ ul li:nth-of-type(19) label,
  &:nth-of-type(20):checked ~ ul li:nth-of-type(20) label,
  &:nth-of-type(21):checked ~ ul li:nth-of-type(21) label,
  &:nth-of-type(22):checked ~ ul li:nth-of-type(22) label,
  &:nth-of-type(23):checked ~ ul li:nth-of-type(23) label,
  &:nth-of-type(24):checked ~ ul li:nth-of-type(24) label,
  &:nth-of-type(25):checked ~ ul li:nth-of-type(25) label,
  &:nth-of-type(26):checked ~ ul li:nth-of-type(26) label,
  &:nth-of-type(27):checked ~ ul li:nth-of-type(27) label,
  &:nth-of-type(28):checked ~ ul li:nth-of-type(28) label,
  &:nth-of-type(29):checked ~ ul li:nth-of-type(29) label,
  &:nth-of-type(30):checked ~ ul li:nth-of-type(30) label {
    @apply bg-blue-gray-200 border-transparent !important;
  }
}