{% import '_includes/forms' as forms %}

{% apply tabs_section(tabId, 'Alignment'|t('share-previews')) %}
    <div class='grid grid-cols-2 gap-x-6'>
        <div>
            {{ forms.field({
                label: 'Horizontal Alignment'|t('share-previews'),
            }, forms.select({
                name: namePrefix ~ '[horizontalAlign]',
                value: layer.horizontalAlign,
                options: {
                    'hl': 'Left'|t('share-previews'),
                    'hc': 'Center'|t('share-previews'),
                    'hr': 'Right'|t('share-previews'),
                },
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Vertical Alignment'|t('share-previews'),
            }, forms.select({
                name: namePrefix ~ '[verticalAlign]',
                value: layer.verticalAlign,
                options: {
                    'vt': 'Top'|t('share-previews'),
                    'vm': 'Middle'|t('share-previews'),
                    'vb': 'Bottom'|t('share-previews'),
                },
            })) }}
        </div>
    </div>
{% endapply %}