<div class="sp-share-debugger field">
    <div class="instructions">
        In case you need to reset a social media's preview cache, review the following instructions.

        <ul>
            <li>
                <strong>LinkedIn</strong>: Just open the <a href="https://www.linkedin.com/post-inspector/inspect/{{ element.getUrl()|url_encode }}">Post Inspector</a> -- you're done.
                <br>
                Repeat once more if the preview is not up to date.
            </li>
            <li>
                <strong>Facebook</strong>:
                Open the <a href="https://developers.facebook.com/tools/debug/?q={{ element.getUrl()|url_encode }}">Share Debugger</a> & click on <strong>Scrape Again</strong>.
            </li>
            <li>
                <strong>Twitter</strong>:
                <ul>
                    <li>
                        <a class="sp-share-debugger-copy" href="{{ element.getUrl() }}" target="_blank">Click to copy</a> the entry URL.
                    </li>
                    <li>
                        Open the <a href="https://cards-dev.twitter.com/validator">Card validator</a>.
                    </li>
                    <li>
                        Paste in the previously copied URL & click <strong>Preview card</strong> -- click once more if the preview is not up to date.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script>
    (function(win) {
        const anchor = win.document.querySelector('.sp-share-debugger-copy');
        const defaultInnerHtml = anchor.innerHTML;

        anchor.addEventListener('click', function(ev) {
            const text = anchor.getAttribute('href');

            try {
                window.navigator.clipboard.writeText(text).then(function() {
                    anchor.innerHTML = defaultInnerHtml + ' (Copied to your clipboard!)';

                    win.setTimeout(function() {
                        anchor.innerHTML = defaultInnerHtml;
                    }, 3000);
                });

                ev.preventDefault();
            } catch (e) {}
        }, false);
    })(window);
</script>
