{% set url = preview_image_src(element) %}

<div class="sp-preview">
    <div class="heading">
        <h4>Preview</h4>
    </div>

    <div class="instructions">
        The preview is based on the current state of the saved entry.
        <br>
        If you're editing the entry as a draft, the preview will be automatically updated in real time.
        <br>
        To enter draft mode, click <em>Save as draft</em> in the top bar.
    </div>

    <div class="sp-preview-wrapper">
        <div class="sp-preview-bg">
            <a
                href="{{ url ?? '#' }}"
                target="_blank"
            >
                <img src="{{ url }}" alt="" />
            </a>
            <p>No share image available</p>
        </div>
    </div>
</div>
